Weekly_Compliance_Report_Workflow.json
{
  "name": "Weekly Compliance Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "76d54030-cf22-4a00-abeb-61012ab64ec2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 240]
    },
    {
      "parameters": {
        "url": "https://your-railway-url.app/api/reports/weekly",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "f5ed3ef7-4a62-4299-8cfb-665e7be5957d",
      "name": "Fetch Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json.data;\nlet html = `\n  <h2>Weekly Compliance Report</h2>\n  <p><strong>Period:</strong> ${data.period.start} to ${data.period.end}</p>\n  <ul>\n    <li>Total Records: ${data.stats.total}</li>\n    <li>Completed: ${data.stats.completed}</li>\n    <li>Pending: ${data.stats.pending}</li>\n    <li style=\"color:red;\">Overdue: ${data.stats.overdue}</li>\n  </ul>\n  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n    <tr>\n      <th>Title</th>\n      <th>Department</th>\n      <th>Assignee</th>\n      <th>Status</th>\n      <th>Due Date</th>\n    </tr>\n`;\ndata.records.forEach(r => {\n  const color = r.status === 'OVERDUE' ? 'red' : (r.status === 'COMPLETED' ? 'green' : 'orange');\n  html += `\n    <tr>\n      <td>${r.title}</td>\n      <td>${r.department}</td>\n      <td>${r.assignee}</td>\n      <td style=\"color:${color}\">${r.status}</td>\n      <td>${new Date(r.dueDate).toLocaleDateString()}</td>\n    </tr>\n  `;\n});\nhtml += `</table>`;\nreturn {\n  htmlContent: html,\n  weekStart: data.period.start,\n  weekEnd: data.period.end\n};"
      },
      "id": "d05779ec-e374-4b5b-80a5-f483c6dd96b8",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Weekly Compliance Report",
        "messageType": "html",
        "message": "={{ $json.htmlContent }}",
        "toEmail": "manager@example.com",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e445dae2-8877-4b7b-8390-cf1714fc7535",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 240],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-railway-url.app/api/emaillogs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"weekStart\": \"{{ $node[\\\"Code\\\"].json.weekStart }}\",\n  \"weekEnd\": \"{{ $node[\\\"Code\\\"].json.weekEnd }}\",\n  \"recipient\": \"manager@example.com\",\n  \"subject\": \"Weekly Compliance Report\",\n  \"status\": \"SENT\"\n}",
        "options": {}
      },
      "id": "9bb2e1f4-3d07-4228-b2a3-286a07e9d7d4",
      "name": "Log Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Report": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb1d30c4-bb23-45ea-bed1-f3b1dc34dc67"
}
